/* ========================= */
/* General Styles           */
/* ========================= */
body {
    background: linear-gradient(135deg, #1a047e, #5c1fb6);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  html, body {
    height: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  }
  
  /* ========================= */
  /* Section Titles           */
  /* ========================= */
  .section-title {
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0;
    color: #fff;
  }
  
  /* ========================= */
  /* Navigation Bar           */
  /* ========================= */
  .topnav {
    background: linear-gradient(to right, #4403b3, #112276);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
  }
  
  
  
    .topnav .topnav-centered {
      display: inline-block;
    }
  
    .topnav a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 16px 22px;
      text-decoration: none;
      font-size: 20px;
      transition: all 0.3s ease;
      margin: 0 5px;
    }
  
    .topnav a:hover {
      background-color: #ffffff;
      color: #003366;
      transform: translateY(-3px);
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
  
    .topnav a.active {
      background-color: #ffffff;
      color: #003366;
    }
  
    /* Responsive design */
    @media screen and (max-width: 600px) {
      .topnav .topnav-centered {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 10px;
      }
      
      .topnav a {
          margin: 5px auto;
          width: 100%;
          padding: 10px;
      }
    }
  
    /* Adjust body to account for fixed navbar */
    body {
      margin-top: 60px;
    }
  
  
  /* ========================= */
  /* Mobile Menu Styling      */
  /* ========================= */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  }
  
  /* ========================= */
  /* Hero Section             */
  /* ========================= */
  #hero {
    .video-background {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
    
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
    
  
    color: #fff;
    text-align: center;
    padding: 6rem 2rem;
  }
  
  .hero-content h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: rgba(115, 115, 127, 0.448);
    color: rgba(232, 232, 236, 0.448);
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0b0901;
  }
  
  /* General styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
  }
  
  /* Events section styles */
  #events {
    padding: 80px 0;
    background: linear-gradient(135deg, #0f0785, #44036c);
  }
  
  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden; /* Hide overflow for carousel effect */
  }
  
  .carousel {
    display: flex; /* Use flexbox for horizontal layout */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
  }
  
  .event-card {
    flex: 0 0 auto; /* Prevent cards from shrinking */
    width: calc(100% - 40px); /* Adjust width for spacing */
    margin: 0 20px; /* Add margin for spacing between cards */
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  }
  
  .event-card img {
    width: 100%;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.8); /* Lighter background */
    color: #007BFF; /* Arrow color */
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev { left: -30px; } /* Position outside of the carousel */
  .next { right: -30px; }
  
  .prev::before, .next::before {
    content: '';
    display: block;
    width: 12px; /* Arrow size */
    height: 12px; /* Arrow size */
    border-style: solid;
    border-width: thin; /* Thinner borders for arrows */
    border-color: #007BFF transparent transparent transparent; /* Arrow pointing right */
  }
  
  .next::before { transform: rotate(90deg); } /* Right arrow */
  .prev::before { transform: rotate(-90deg); } /* Left arrow */
  
  /* Media query for responsiveness */
  @media (max-width:768px) {
   .event-card {
       width: calc(100% -40px); /* Adjust for padding on mobile */
       margin-left:auto; 
       margin-right:auto; 
   }
  }
  
  
  
  
  
  
  /* Existing styles remain unchanged */
  
  /* Updated styles for the event section */
  #events {
    padding: 80px 0;
    background: linear-gradient(135deg, #230489, #4c0484);
  }
  
  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .event-card {
    flex: 0 0 auto; /* Show one card at a time */
    width: calc(100% - 40px); /* Adjust width for spacing */
    margin: 0 20px; /* Add margin for spacing between cards */
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  }
  
  .event-card img {
    width: 100%;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.8);
    color: #007BFF;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev { left: -30px; }
  .next { right: -30px; }
  
  .prev::before, .next::before {
      content: '';
      display: block;
      width: 12px; /* Arrow size */
      height: 12px; /* Arrow size */
      border-style: solid;
      border-width: thin; /* Thinner borders for arrows */
      border-color: #007BFF transparent transparent transparent; /* Arrow pointing right */
  }
  
  .next::before { transform: rotate(90deg); } /* Right arrow */
  .prev::before { transform: rotate(-90deg); } /* Left arrow */
  
  .view-all-events {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #370995;
      color: white;
      padding: 10px;
      text-decoration: none;
  }
  
  /* Media query for responsiveness */
  @media (max-width:768px) {
     .event-card {
         width: calc(100% -40px); /* Adjust for padding on mobile */
         margin-left:auto; 
         margin-right:auto; 
     }
  }
  
  
  
  
  
  
  
  
  
  
  
   
  /* ========================= */
  /* Box Office Section       */
  /* ========================= */
  .box-office-section {
    background: linear-gradient(135deg, #9b9898, #eef3f6);
    padding: 80px 0;
    color: #fff;
  }
  
  .box-office-section .section-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .box-office-section .section-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .ticket-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .ticket-option {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .ticket-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .ticket-option img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .ticket-option h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .ticket-option p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .ticket-option .btn-primary {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .ticket-option .btn-primary:hover {
    background-color: #353b84;
  }
  
  @media (max-width: 768px) {
    .ticket-option {
      width: 100%;
    }
  }
  
  #events {
    padding: 80px 0;
    background: linear-gradient(135deg, #E3F3FD, #f4f4f4);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .event-card {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    text-align: center;
    padding: 20px;
  }
  
  .event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .event-card h3 {
    font-size: 2rem;
    margin: 20px 0;
    color: #333;
  }
  
  .event-card p {
    font-size: 1.2rem;
    color: #555;
    margin: 15px 20px;
  }
  
  .event-card .btn-secondary {
    display: inline-block;
    padding: 15px 40px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .event-card .btn-secondary:hover {
    background-color: #0056b3;
  }
  
  .event-card:hover {
    transform: translateY(-10px);
  }
  
  
  /* ========================= */
  /* Planner Section          */
  /* ========================= */
  .planner-section {
    background: linear-gradient(135deg, #20466c, #E3F3FD);
    padding: 80px 0;
    color: #fff;
  }
  
  .planner-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
  }
  
  .rental-info, .contact-info, .availability-calendar {
    flex-basis: calc(33.333% - 20px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
  }
  
  .rental-info h3, .contact-info h3, .availability-calendar h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .rental-info ul, .contact-info ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .rental-info li, .contact-info li {
    margin-bottom: 10px;
  }
  
  .booking-form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
  }
  
  .booking-form h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .booking-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .booking-form input,
  .booking-form select,
  .booking-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .booking-form button {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .booking-form button:hover {
    background-color: #250cb6;
  }
  
  @media (max-width: 768px) {
    .rental-info, .contact-info, .availability-calendar {
      flex-basis: 100%;
    }
  }
  /* ========================= */
  /* Book an Event Section    */
  /* ========================= */
  #planner {
    background: linear-gradient(135deg, #20466c, #E3F3FD);
    padding: 50px 0;
  }
  
  #planner .section-title {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  
  .event-types {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .event-option {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
  
  .event-option img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-option h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 20px 0;
  }
  
  .event-option .btn-primary {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .event-option:hover {
    transform: translateY(-10px);
  }
  
  @media (max-width: 768px) {
    .event-option {
      width: 90%;
    }
  }
  
  /* ========================= */
  /* Amenities Section        */
  /* ========================= */
  .amenities-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(135deg, #497eb3, #84aec8);
  }
  
  .amenities-content {
    max-width: 1200px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  
  .amenities-item {
    margin: 20px 0;
    font-size: 1.3rem;
  }
  
  /* ========================= */
  /* Booking Form             */
  /* ========================= */
  .booking-form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 80px 0;
  }
  
  .booking-form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem;
    border-radius: 15px;
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    color: white;
    text-align: center;
  }
  
  .booking-form h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .booking-form input,
  .booking-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
  }
  
  .booking-form button {
    background-color: #004b87;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
  }
  
  .booking-form button:hover {
    background-color: #003d6a;
  }
  
  
  .contact-section {
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark gray text color */
    padding: 40px 0;
    text-align: center;
  }
  
  .contact-section h2 {
    color: #2c3e50; /* Deep blue-gray for heading */
    margin-bottom: 20px;
  }
  
  .contact-info {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info li {
    color: #34495e; /* Slightly lighter blue-gray for list items */
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .contact-info strong {
    color: #2980b9; /* Bright blue for strong/label text */
  }
  
  
  
  /* ========================= */
  /* Mobile Responsiveness     */
  /* ========================= */
  @media (max-width: 768px) {
    .booking-form {
      width: 80%;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .container {
      flex-direction: column;
    }
  
    .event-card {
      width: 90%;
    }
    
    .section {
      padding: 60px 0;
    }
    
    .container {
      padding: 0 15px;
    }
  }/* General Styles */
  body {
    font-family: 'Arial', sans-serif; /* Change this to your preferred font */
  }
  
  /* Hero Section Styles */
  #hero {
    background-color: #282c34; /* Background color for contrast */
    color: white; /* Text color */
    padding: 60px 20px; /* Spacing around the section */
  }
  
  .hero-content {
    text-align: center;
  }
  
  p {
    font-size: 18px; /* Font size for the paragraph */
    margin-top: 10px; /* Spacing above the paragraph */
  }
  
  .btn-primary {
    display: inline-block;
    background-color: #007bff; /* Button color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Rounded corners for button */
    text-decoration: none; /* Remove underline from link */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  .curved-text {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: -40px; /* Adjust this value to move the text closer to the logo */
  }
  
  .curved-text text {
    font-size: 48px;
    font-weight: bold;
    fill: #ffffff;
    font-family: 'Arial', sans-serif;
  }
  
  .logo-placeholder {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px; /* Adjusted margin to reduce space above and add space below */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  
  /* Add this CSS to style your carousel and buttons */
  
  .carousel {
    display: flex;
    overflow: hidden; /* Hide overflow to show only one card */
  }
  
  .event-card {
    flex: 0 0 100%; /* Each card takes full width */
    transition: transform 0.5s ease; /* Smooth transition */
  }
  
  .prev, .next {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: none;
    padding: 10px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .prev {
    left: 10px; /* Positioning for previous button */
  }
  
  .next {
    right: 10px; /* Positioning for next button */
  }
  
  /* Optional hover effect for buttons */
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 1); /* Solid background on hover */
  }
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  .box-office-main {
    padding: 20px;
    background-color: #f3e5f5;
  }
  
  h1 {
    text-align: center;
    color: #4a148c;
  }
  
  h2 {
    color: #6a1b9a;
  }
  
  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .event-item {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px); /* Adjust width as needed */
    transition: transform 0.3s ease;
  }
  
  .event-item:hover {
    transform: scale(1.05);
  }
  
  .event-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .event-item h3 {
    color: #4a148c;
  }
  
  .btn-primary {
    display: inline-block;
    background-color: #6a1b9a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #4a148c;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .event-item {
        width: calc(45% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .event-item {
        width: calc(100% - 20px);
    }
  }
  /* Calendar-specific styles */
  .calendar-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
  }